<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FY_RTC_Grab.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <FY_RTC_Grab.Properties.Settings>
            <setting name="______last_registered_player" serializeAs="String">
                <value />
            </setting>
            <setting name="______last_registered_player_deposit" serializeAs="String">
                <value />
            </setting>
            <setting name="______detect_deposit" serializeAs="String">
                <value />
            </setting>
            <setting name="______count_player" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="______server_ip" serializeAs="String">
                <value>192.168.10.252</value>
            </setting>
            <setting name="______server_location" serializeAs="String">
                <value>Robinsons Summit</value>
            </setting>
            <setting name="______is_send_telegram" serializeAs="String">
                <value>False</value>
            </setting>
        </FY_RTC_Grab.Properties.Settings>
    </userSettings>
</configuration>